*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.header{
    background-image: linear-gradient(120deg, rgba(241, 147, 251, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("./img/header.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
            animation-name: colores;
            animation-iteration-count:infinite;
            animation-duration: 5s;
}

        @keyframes colores {
            0% {
                background-image: linear-gradient(120deg, rgba(241, 147, 251, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("./img/header.jpg");
            }
            75% {
                background-image: linear-gradient(120deg, rgba(161, 72, 106, 0.541) 0%, rgba(85, 27, 35, 0.692) 100%), url("./img/header.jpg");
            }
        }

.header__textos{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__titulo{
    font-size: 60px;
}

.header__descricion{
    font-size: 25px;
    margin-bottom: 20px;
}

.header__svg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    overflow: hidden;
}


.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor--padding{
    padding: 80px 0;
}
.doble{
    display: flex;
    justify-content: space-between;
}

.doble__img{
    width: 48%;
}

.doble__main{
    width: 40%;
}

.boton{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a18cd1;
    border-radius: 8px;
    color: #fff;
}

.boton--gradiente{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo--left{
    text-align: left;
}

.titulo--right{
    text-align: right;
} 

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.info{
    background: rgba(241, 147, 251, 1);
    color: #fff;
    width: 100vw;
}

.cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card__icon{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}

.card__texto{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

.galeria{
    background: #f2f2f2;
}

.galeria__main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria__img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}


footer{
    background: #f5576c;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
    background: #fff;
}

.social__icon{
    margin: 30px 0 20px 0;
    color: #f8f8f8;
    font-size: 50px;
}
.social__icon:hover{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 55px;
}

@media screen and (max-width:800px){
    .header__titulo{
        text-align: center;
        font-size: 50px;
    }

    .titulo{
        font-size: 35px;
    }

    .titulo--left{
        text-align: center;
    }
    
    .doble{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .doble--reverse{
        flex-direction: column-reverse;
    }

    .doble__img{
        width: 100%;
    }

    .doble__main{
        width: 100%;
    }

    .info__texto{
        text-align: center;
    }
    
    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    .galeria__img{
        width: 48%;
    }
}

@media screen and (max-width:400px){

    .header__titulo , .titulo{
        font-size: 30px;
    }
    .header__descricion{
        font-size: 20px;
        text-align: center;
    }

    .doble__main{
        margin-bottom: 30px;
    }
    
    .galeria__img{
        width: 97%;
    }
}